[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"
ipdb = "==0.11"
isort = "==4.3.4"
flake8 = "==3.6.0"
inotify = "==0.2.10"
pytest = "==4.0.1"
pytest-cov = "==2.6.1"
pytest-django = "==3.4.5"

[packages]
dj-database-url = "==0.5.0"
django-filter = "==2.0.0"
djangorestframework = "==3.9.0"
gunicorn = "==19.9.0"
numpy = "==1.16.0"
pandas = "==0.23.4"
psycopg2 = "==2.7.6.1"
python-dotenv = "==0.10.1"
python-json-logger = "==0.1.10"
Django = "==2.1.11"
model_mommy = "==1.6.0"

[requires]
python_version = "3.7"
